#hero{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
}

.card{
  position: relative;
}
.hover-items{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: scale(0);
  opacity: 0;
  transition: all 0.4s ease-in-out;
  

}
.hover-items .icons{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.card:hover .hover-items{
  transform: scale(1);
  opacity: 1;
}

